html, body {
  background-color: rgb(230, 230, 230);
  margin: 0;
  padding: 0;
  font-family: "SF UI Display", Helvetica, Arial, sans-serif;
  height: 100%;
}

h1 {
  color: rgb(51, 71, 99);
  font-weight: 100;
  font-size: 55px;
  margin: 0;
}

h2 {
  color: rgb(129, 129, 129);
  font-weight: 100;
  font-size: 24px;
  padding-bottom: 20px;
  border-bottom: 1px dotted #ccc;
}

a, a:visited, a:active {
  color: rgb(12, 124, 201);
  text-decoration: none;
}

ul {
  list-style-type: circle;
  padding-left: 20px;
}

ul li {
  padding: 5px 0;
}

main {
  float: left;
  box-sizing: border-box;
  margin: 0;
  width: 60%;
  padding: 20px 40px;
}

nav {
  float: right;
}

aside {
  background-color: rgb(34, 38, 46);
  color: white;
  float: right;
  box-sizing: border-box;
  margin: 0;
  width: 40%;
  padding: 20px 40px;
  height: 100%;
  overflow-y: auto;
}

aside h3, aside h4 {
  color: rgb(200, 200, 200);
  position: relative;
  font-weight: normal;
}

aside h3::before, aside h4::before {
  border-top: 1px solid #ccc;
  border-right: 1px solid #ccc;
  content: '';
  position: absolute;
  left: -15px;
  top: 7px;
  width: 6px;
  height: 6px;
  transform: rotate(45deg);
}

aside h4 {
  color: rgb(150, 150, 150);
  margin-left: 10px;
}

aside ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

aside ul li {
  display: inline-block;
  background: rgb(63, 142, 199);
  padding: 3px 5px;
  border-radius: 2px;
  margin-bottom: 4px;
}

@media only screen and (max-width : 768px) {
  main, aside {
    float: none;
    height: auto;
    width: 100%;
  }
}